<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web</title>
</head>
<body>
    <h1>Mi web con flask</h1>
    {% comment %} Para mostrar la informacion de una variable simplemente tenemos que colocar
    el nombre de la variable entre dos llaves respetando el nombre de las variables del archivo python {% endcomment %}
    <p>{{msm}}</p>

    {% comment %} 
        Si queremos crear enlaces para poder movernos entre paginas hjaciendo que la pagina sea dinamica

        tenemos que mandarle un url_for y que reciba como parametro el nombre del archivo html donde querramos ir
        Este url_for ira directamente a la carpeta templates y buscara el archivo
    {% endcomment %}
    <a href="{{url_for('blog')}}">Ir a blogs</a> <br>

    {% comment %} 
        Si queremos mostrar imagenes o cualquier archivo estatico tenemos que usar de igual manera el
        url_for pero recibiendo dos parametros estos son el stactic y el filename

        El static es donde se encuentra la imagen, url_for navegara por las carpetas hastra la carpeta static
        y dentro de ella buscara la imagen, en este caso la imagen esta dentro de una carpeta img
    {% endcomment %}
    <img src="{{ url_for('static', filename = 'img/flask.png')}}" alt="Imagen" width=250px>
    
</body>
</html>